@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&display=swap');

:root {
    /* color for pieces */
    --red-pieces: red; 
    --blue-pieces: #0000CD; 
    --green-pieces: #7CFC00;
    --yellow-pieces: #ffe23d; 
    /* color for base and home column */
    --base-home-red:#CD5C5C;
    --base-home-blue: #4169E1;
    --base-home-green:  #32CD32; 
    --base-home-yellow:  #FFD700; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #100c08;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/* start of user-menu tag */
/* -------------------------------------------------------------*/
#user-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-title {
    margin: 10px;
    font-size: 80px;
    color: white; 
    font-family: 'Big Shoulders Stencil Text', cursive;
}

.menu-title {
    margin: 10px;
    color: #fbfdfb;
}

#user-menu-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:#778899;
    opacity: 0.8;
    border-radius: 5%;
    width: 200px; 
}

#user-menu-form:hover {
    opacity: 1;
}

input {
    margin: 10px;
    color: white;
}

input[type=text] {
    /* border:  2px solid white; */
    border-radius: 15%;
}

#start-btn {
    border-radius: 15%;
    cursor: pointer;
    color: white;
    text-decoration: none;
    background-color: black;
    height: 3.5vh;
} 

/* colors for form */
::placeholder {
    color: black;
  }
/* color for input menu players */
#player-one {
    background-color:red;
}
#player-two {
    background-color: var(--base-home-blue);
}
#player-three {
    background-color: var(--base-home-green);
}
#player-four {
    background-color: var(--base-home-yellow);
}

/* -------------------------------------------------------------*/
/* end of usr-menu tag */


#dice-board-container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

/* start of dice menu styling */
/* -------------------------------------------------------------*/

#dice-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin: 10px;
}
#prev-player-roll {
    font-size: 18px;
    color: white;
    margin: 5px;
}

#player-turn {
    color: white;
}

#dice {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    width: 100px;
    background-color: white;
    border: 3px solid;
    cursor: pointer;
}

/* -------------------------------------------------------------*/
/* end of dice menu */

/* start of board styling */
/* -------------------------------------------------------------*/

#game-board-wrapper {
    display: grid;
    grid-template-columns: repeat(15,46px);
    grid-template-rows: repeat(15,46px);
}

.space {
    background-color: #F0FFFF;
    border: 0.1px solid;
    display: flex;
    align-items: center;
    opacity: 0.95;
}

.base {
    margin: 50px;
    width: 500px;
    height: 200px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,100px);
    grid-template-rows: repeat(2,100px);
    align-items: center;
    border-radius: 50%;
}

#red-base {
    /*  start row / start column / end row / end column 
    */
    grid-area: 1 / 1 /  7 /  7;
    background-color: var(--base-home-red);
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

#blue-base { 
    /*  start row / start column / end row / end column 
    */
    grid-area: 1 / 10 / 7 / 16; 
    background-color: var(--base-home-blue);
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

#yellow-base {
    /*  start row / start column / end row / end column 
    */
    grid-area: 10 / 1 / 16 / 7; 
    background-color: var(--base-home-yellow);
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

#green-base {
    /*  start row / start column / end row / end column 
    */
    grid-area: 10 / 10 / 16 / 16; 
    background-color: var(--base-home-green);
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

#home {
        /*  start row / start column / end row / end column 
    */
    grid-area: 7 / 7 / 10 / 10; 

    /* creates the triangle effect  */
    border-top: 69px solid var(--base-home-blue);
    border-right: 69px solid var(--base-home-green); 
    border-bottom: 69px solid var(--base-home-yellow); 
    border-left: 69px solid var(--base-home-red);
}

/* pieces color */
.red-in {
    background-color: var(--red-pieces);
}

.blue-in {
    background-color: var(--blue-pieces); 
}

.yellow-in {
    background-color: var(--yellow-pieces); 
}

.green-in {
    background-color: var(--green-pieces); 
}

/* home base and space colors*/
.red-home {
    background-color: var(--base-home-red);
}
.blue-home {
    background-color: var(--base-home-blue);
}

.green-home {
    background-color: var(--base-home-green); 
}
.yellow-home {
    background-color: var(--base-home-yellow);
}

.piece {
    margin: 10px 10px 10px 35px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid#797070;
    cursor: pointer;
    /* javascript will add this */
    /* animation: pulse 1s infinite; */
}

.play{
    display: flex;
    margin: 0; 
    cursor: pointer;
    /* javascript will add this */
    /* animation: pulse 2s infinite; */
}

/* -------------------------------------------------------------*/
/* end of board board styling */


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh;
    color: white;
    margin: 20px;
    /* background-color: whitesmoke; */
}

/* animations */
/* source; 
    https://www.florin-pop.com/blog/2019/03/css-pulse-effect/ 
*/
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}


 @media screen and (max-width: 600px) { 
    #dice-menu {
        margin:0 0 0 75px;
    }

    #dice {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100px;
        width: 100px;
        background-color: white;
        border: 3px solid;
        cursor: pointer;
    }
    #game-board-wrapper {
        display: grid;
        grid-template-columns: repeat(15,30px);
        grid-template-rows: repeat(15,30px);
        margin: 20px 0 0 75px;
    }

    #home{ 
    /* creates the triangle effect  */
     border-top: 45px solid var(--base-home-blue);
    border-right: 45px solid var(--base-home-green); 
    border-bottom: 45px solid var(--base-home-yellow); 
    border-left: 45px solid var(--base-home-red);
    }

    .base{
        width: 130px;
        height: 130px;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(2,70px);
        grid-template-rows: repeat(2,70px);
        align-items: center;
    }
    
    .piece {
        margin: 0 5px 5px 20px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 3px solid#797070;
    }

    .play {
        margin: 0 5px 5px 0px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid darkgray;
    }

}
