*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
   display: flex;  
   justify-content: center;
   background-color: grey; /*take this out later*/
}
#game-title{
    margin: 50px;
    font-size: 70px;
}

.main{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

#game-board-wrapper {
    display: grid;
    grid-template-columns: repeat(15,50px);
    grid-auto-rows: 50px;

}

.space{
    background-color: white;
    border: 0.5px solid;
}

#red-base{
    /*  start row / start column / end row / end column 
    */
    grid-area: 1 / 1 /  7 /  7;
    background-color: red;
}

#blue-base{
    /*  start row / start column / end row / end column 
    */
    grid-area: 1 / 10 / 7 / 16; 
    background-color: blue;
}

#home{
        /*  start row / start column / end row / end column 
    */
    grid-area: 7 / 7 / 10 / 10; 
    background-color: grey;
}

#yellow-base{
    /*  start row / start column / end row / end column 
*/
grid-area: 10 / 1 / 16 / 7; 
background-color: yellow;
}

#green-base{
    /*  start row / start column / end row / end column 
    */
    grid-area: 10 / 10 / 16 / 16; 
    background-color: greenyellow;
}
