@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header{
   display: flex;  
   justify-content: center;
   font-family: 'Big Shoulders Stencil Text', cursive;
}
#game-title{
    margin: 20px;
    font-size: 80px;
    color: white; 
}

.main{
    margin: 20px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

#user-menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:#778899;
    opacity: 0.5;
    border-radius: 5%
}

form:hover{
    opacity: 0.8;
}

input{
    margin: 10px;
}

input[type=text]{
    border:  2px solid white;
    border-radius: 15%;
}
input[type=submit]{
    border-radius: 15%;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

#game-board-wrapper {
    display: grid;
    grid-template-columns: repeat(15,50px);
    grid-template-rows: repeat(15,50px);
    margin: 25px 0 0 50px;

}

.space{
    background-color: white;
    border: 0.5px solid;
    display: flex;
    align-items: center;
}

#red-base{
    /*  start row / start column / end row / end column 
    */
    grid-area: 1 / 1 /  7 /  7;
    background-color: red;
    display: flex;
    justify-content: center;
}

#blue-base{
    /*  start row / start column / end row / end column 
    */
    grid-area: 1 / 10 / 7 / 16; 
    background-color: blue;
    display: flex;
    justify-content: center;
}

#home{
        /*  start row / start column / end row / end column 
    */
    grid-area: 7 / 7 / 10 / 10; 
    background-color: white;

    /* creates the trainable effect  */
    border-top: 75px solid blue;
    border-right: 75px solid green; 
    border-bottom: 75px solid yellow; 
    border-left: 75px solid red;
}

#yellow-base{
    /*  start row / start column / end row / end column 
    */
    grid-area: 10 / 1 / 16 / 7; 
    background-color: yellow;
    display: flex;
    justify-content: center;
}

#green-base{
    /*  start row / start column / end row / end column 
    */
    grid-area: 10 / 10 / 16 / 16; 
    background-color: green;
    display: flex;
    justify-content: center;
}

.red-in{
    background-color: red;
}


.blue-in {
    background-color: blue; 
}


.yellow-in {
    background-color: yellow; 
}

.green-in {
    background-color: green; 
}

.base{
    margin: 50px;
    width: 500px;
    height: 200px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,100px);
    grid-template-rows: repeat(2,100px);
    align-items: center;
}

#dice-menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 30px;
    background-color: tomato;
}

#dice{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid;
    margin: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

footer{
    background-color: tomato;
    display: flex;
    justify-content: center;
    height: 10vh;
}

.piece {
    margin: 10px 10px 10px 35px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid darkgray;
    cursor: pointer;
}

.blocked{
    /* got this from stackoverflow */
    background-image: linear-gradient(45deg, #000 30%, transparent 10%, transparent 50%, #000 50%, #000 75%, transparent 75%, #fff);
}

.play{
    display: flex;
    justify-content: center;
    margin: 0; 
    cursor: pointer;
}
#prev-player-roll {
    margin: 10px 0 45px 0;
    font-size: 20px;
}


@media screen and (max-width: 600px) {
    body {
      background-color: black;
    }

    #game-board-wrapper {
        display: grid;
        grid-template-columns: repeat(15,33px);
        grid-template-rows: repeat(15,33px);
        margin: 25px 0 0 0px;
        order: 1;
    
    }

    .main{
        margin: 10px;
        display: flex;
        justify-content:center;
        flex-direction: column;
    }
    
    #user-menu{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #dice-menu{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 10px 0 0 0px;
        background-color: tomato;
    }

    #home{
        /*  start row / start column / end row / end column 
    */
    grid-area: 7 / 7 / 10 / 10; 
    background-color: white;

    /* creates the trainable effect  */
    border-top: 53px solid blue;
    border-right: 53px solid green; 
    border-bottom: 53px solid yellow; 
    border-left: 53px solid red;
    }
    .base{
        margin: 50px;
        width: 300px;
        height: 150px;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(2,80px);
        grid-template-rows: repeat(2,80px);
        align-items: center;
    }
    .piece {
        margin: 0 5px 5px 35px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 3px solid darkgray;
    }

    .play {
        margin: 0 5px 5px 0px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid darkgray;
    }
  }